<%= form_for(@list_item) do |f| %>
  <% if @list_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list_item.errors.count, "error") %> prohibited this list item from being saved:</h2>

      <ul>
      <% @list_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.hidden_field :list_id%>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
